/* CSS FOR THE GENERAL ASPECTS */

body{
    width: 1366px;
    height: 768px;
    background-color: #000;
    font-family: Roboto;
} /*Background - currently fixed in sizing for prototype MVP*/

/*Should make H1 universal rules here*/
/*Should make class="frame" and class="section" universal rules here*/

/* CSS FOR MAIN MESSAGE */

.message-section{
     position: absolute;
     width: 414.21px;
     height: 256px;
     left: 476px;
     top: 27px;
}

.message-frame{
    width: 414.2px;
    height: 256px;
    margin: 0 37.8px 27px 37.8px;
    border-radius: 20px;
    border: solid 2px #fff;
}

.message-greeting{
    width: 414.2px;
    height: 128px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.message-user{
    position: absolute;
    width: 414.21px;
    height: 128px;
    left: calc(50% - 414.21px/2 + 0px);
    top: calc(50% - 128px/2 + 64px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFF;
}


/* CLOCK SECTION */

.time-section{
    position: absolute;
    width: 414.21px;
    height: 256px;
    left: 24px;
    top: 27px;
}

.time-frame{
    width: 414.2px;
    height: 256px;
    margin: 0 37.8px 27px 37.8px;
    border-radius: 20px;
    border: solid 2px #fff;
}

.digital-day{
    width: 414.2px;
    height: 128px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.digital-time{
    position: absolute;
    width: 414.21px;
    height: 128px;
    left: calc(50% - 414.21px/2 + 0px);
    top: calc(50% - 128px/2 + 64px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
   color: #FFF;
}

/* THE CSS FOR WEATHER WIDGET */

.weather-section{
position: absolute;
width: 414.21px;
height: 256px;
left: calc(50% - 414.21px/2 + 452.1px);
top: calc(50% - 256px/2 - 229px);
}

.weather-frame{
    width: 414.2px;
    height: 256px;
    margin: 0 37.8px 27px 37.8px;
    border-radius: 20px;
    border: solid 2px #fff;
}
















/* NEWS INFORMATION */

.news-container-text {
  position: absolute;
  background-color: white;
  top: 80%;
  left: 50%;
}

#cycle {
  color:var(--color1);
}

/* CSS for Calendar Information */

.calendar {
  position: absolute;
  color: white;
  top: 80%;
}

#date-divider {
  position: relative;
  top: -5px;
  border: 2px solid white;
  width: 700px;
}

.day-container {
  position: absolute;
  top: -50px;
  width: 175px;
  height: 250px;
}

#day-1-container {
  left: 0px;
}

#day-2-container {
  left: 175px;
}

#day-3-container {
  position: absolute;
  left: 350px;
}

#day-4-container {
  position: absolute;
  left: 525px;
}

.calendar-date {
  color: white;
  position: relative;
  top: -35px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}

.event-time {
  position: relative;
  color: white;
  font-size: 20px;
  top: -50px;
  margin-bottom: 0px;
}

.event-title {
  position: relative;
  font-size: 20px;
  top: -50px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 0px;
  color: white;
}
