.weather-container{
  margin: 50px;
  width: 250px;
  height: 250px;
  background-color: black;


  border-style: solid;
  border-size: .5px;
  border-radius: 15px;
  border-color: white;

}


.weather-temp {
  color: white;
}
