.mirror-contatiner {
  background-color: black;
}

.top-left-element {
  position: absolute;
}

.top-right-element {
  position: absolute;
  right: 0px;
}


.bottom-left-element {
  position: absolute;
  bottom: 0px;
}
