@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.calendar-container{
    color: white;
    font: Poppins;
    font-size: 20px;
}

.schedule-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.upcoming {
    order: 1;
    text-align: center;
}

.cal-object{
    order: 2;
    display: flex;
    flex-direction: column;
    height: 250px; /* owen fix this */
    overflow-y: scroll;
}

.cal-object::-webkit-scrollbar {
    display: none;
}

.events{
    order:1;
}

.event-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.event-date{
    order: 1;
    display: inline-block;
    text-align: left;
    min-width: 60px;
}

.event-name{
    order: 2;
    display: inline-block;
    width: 100%;
    align-content: left;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.time{
    order: 3;
    display: inline-block;
    text-align: right;
    min-width: 120px;
}
