@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.forecasts{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-context: space-evenly;
align-items: center;
margin-bottom: 0px;
/* margin-top: 25px; we need to discuss this */
}

.icon-container{
order: 1;
margin: 0px 12.5px 0px 12.5px;
margin-bottom: 0px;
text-align: center;
}

.forecast-temp{
order: 2;
font-size: 50px;
color: #FFFFFF;
font-family: Poppins;
margin: 0px 12.5px 0px 12.5px;
text-align: center;
}

.date{
order: 3;
/*working here to fix the sizing of the font, switch to vmax or vw */
font-size: 25px;
color: #FFFFFF;
font-family: Poppins;
margin: 0px 12.5px 0px 12.5px;
text-align: center;
}

.forecast-one{
order: 1; /* for within the parent .forecasts */
display: flex; /*  for the kids .icon-container and .forecast-temp */
flex-direction: column;
flex-shrink: 1;
flex-grow: 1;
}

.forecast-two{
order: 2;
display: flex;
flex-direction: column;
flex-shrink: 1;
flex-grow: 1;
}

.forecast-three{
order: 3;
display: flex;
flex-direction: column;
flex-shrink: 1;
flex-grow: 1;
}
