@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mail{
    color: white;
    font: Poppins;
    font-size: 20px;
}

.mail-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mail-header {
    order: 1;
    text-align: center;
}

.messages {
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300px; /* owen fix this */
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    border-bottom: 1px solid white;
    height: auto;
    flex-direction: column;
    width: 99%;
}

.subject {
    order: 1;
    flex-wrap: nowrap;
    font-size: 16px;
    display: inline-block;
    text-align: left;
    min-width: 60px;
    font-weight: bold;
    white-space: nowrap;
    }

.from{
    order: 1;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    align-content: top-left;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.summary{
    order: 3;
    font-size: 14px;
    display: inline-block;
    text-align: justfiy;
    width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    /* min-height: 45px; */
    max-height: 45px;
}
