@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.message-container{
     position: absolute;
     width: 414.21px;
     height: 256px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.message-frame{
    width: 414.2px;
    height: 256px;
    border-radius: 20px;
    border: solid 2px #fff;
}

.message-greeting{
    width: 414px;
    height: 256px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    line-height: 256px;
    color: #FFFFFF;
}


