.mirror-contatiner {
  display: flex;
  background-color: black;
}

.top-left-element {
  position: relative;
}

.top-right-element {
  position: relative;
  right: 0px;
}


.bottom-left-element {
  position: relative;
  bottom: 0px;
}


.login {
  position: relative;
  left: 200px;
  top: 450px;
}

.body {
  background-color: black;
}
