@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar-container {
  position: sticky;
  height: 60px;
  display: flex;
  background-color: black;
}

.navbar-title {
  order: 1;
  font-family: Poppins;
  color: white;
  font-size: 40px;
  margin: auto 0 auto 20px;
  width: 25%;
}

.navbar-login {
  order: 3;
  margin: auto 10px auto auto;
}

.navbar-links {
  order: 2;
  width: 50%;
  align-items: center;
  padding-top: 10px;

  display: flex;shape-margin:

}
.navbar-link-one {
  color: white;
  text-decoration: none;
}
.navbar-link-one:hover {
  text-decoration: underline;
}

.linkone {
  font-family: Poppins;
  font-size: 20px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
