@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-context: space-evenly;
    align-items: center;
    margin-bottom: 0px;
}

.news-item {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    bottom: 0px;
    margin-bottom: 10px;
}

.image-container {
    order: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    max-width: 250px;
    max-height: 250px;
}

.information-container {
    order: 2;
    display: flex;
    flex-direction: column;
    color: black;
    top: 0px;
    margin-left: 10px;
}

.title-container {
    order: 1;
    display: flex;
    color: #FFFFFF;
    background-color: black;
    font-size: 7;
    margin-top: 0px;
}

.abstract-container {
    order: 2;
    font-size: 5;
    color: #FFFFFF;
}

.icon-contianer {
  order: 1;
  margin-left: 100px;
  font-size: 200px;
}

.weather-temp {
  order: 2;
  position: relative;
  font-size: 125px;
  color: #FFFFFF;
  font-family: Poppins;
  margin-left: 20px;
}

.news-title {
  color: #FFFFFF;
  font-family: Poppins;
  margin-left: 10px;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 15px;
}
