@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sports{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font: Poppins;
    color: white;
    overflow: hidden;
    margin: 10px; /*take this out*/
}

.league-containers{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}

.league-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    vertical-align: baseline;
    overflow: hidden;
}

.league-abbr {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.league-games {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.league-game {
    position: relative;
    text-indent: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    overflow: hidden;
}

.game-details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.teams{ /*THIS NEEDS TO BE CENTERED BETTER*/
    position: relative;
    display: inline-box;
    align-items: center;
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.teams-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.team{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.logo{
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-box;
    text-align: left;
}

svg{
    display: block;
    margin: auto;
}

.name{
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-box;
    text-align: left;
    overflow-inline: scroll;
}

.record-score{
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-box;
    text-align: right;
}

.play-time{
    position: relative;
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
}

.time{
    display: inline-box;
    text-align: right;
    font-size: 100%;
}

.gamedate{
    display: inline-box;
    text-align: right;
    font-size: 100%;
}

