@keyframes scroll-left {
    0% { transform: translate(100%); }
    100% { transform: translate(-500%); }
}

.stock-container {
    overflow: hidden;
    background: black;
    height: 50px;
}

.ticker-bar {
    display: flex;
    align-content: space-between;
    width: 100%;
    animation: scroll-left 70s linear infinite;
}

.ticker-item {
    position: relative;
    flex-shrink: 0;
    width: 25%;
    box-sizing: border-box;
    text-align: justify;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 20px;*/
    font-weight: bold;
    font-size: 25px;
}