@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.time-container{

}

.time-digits{
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 108.617px;
    line-height: 163px;
    text-align: center;
    color: #FFFFFF;
}

.time-date{
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
