@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.time-container{
    position: absolute;
width: 229.48px;
height: 202.94px;
right: 54.52px;
top: 28.99px;
}

.time-digits{
    position: absolute;
    left: -0.44%;
    right: 0.21%;
    top: 0%;
    bottom: 31.01%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 108.617px;
    line-height: 163px;
    text-align: center;
    color: #FFFFFF;
}

.time-date{
    position: absolute;
    left: 5.52%;
    right: 5.59%;
    top: 69.01%;
    bottom: 15.71%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
