.weather-container{
  margin: 50px;
  width: 250px;
  height: 250px;
  background-color: black;


  border-style: solid;
  border-size: .5px;
  border-radius: 15px;
  border-color: white;

}


.weather-temp {
  color: white;
  position: absolute;
  top: 125px;
  margin-left: 30px;
  font-size: 100px;

}

.weather-icon {
  position: absolute;
  align-items: right;
  right: 0px;
  margin-right: 75px;
  width: 100px;
  height: 100px;
}
