@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.current-weather{ /* parent */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-context: space-evenly;
    align-items: center;

}

.weather-icon{ /* top row */
  order: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-description{ /* bottom row */
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-context: space-evenly;
  align-text: center;
  align-items: center;

}

.icon-contianer{ /*top left*/
  order: 1;
  font-size: 1vmax;
}

.weather-temp {
  order: 2;
  position: relative;
  font-size: 125px;
  color: #FFFFFF;
  font-family: Poppins;
  margin-left: 20px;
}

.description-container {
  order: 1;
  flex-grow: 1;
}

h1{
  font-size: 1.5vmax;
  color: #FFFFFF;
  font-family: Poppins;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
}

.weather-wind{
  order: 3;
  flex-grow: 1;
}

.break{
    order: 2;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}
