<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
<script type="text/javascript"
         src="{{ url_for('static', filename='javascript/weather.js') }}"></script>
</head>
<body>
    <div class="time-section">
        <h3 class="Clock">Today is is:  {{ value['time'] }}<h3></h3>
    </div>

    <div>
        <section class="ajax-section">
            <div class="container">
              <div class="weather-wrapper">
                    <ul class="cities">
                     <div class="weather-card current">
                       <div class="loc-current"><img src="https://i.ibb.co/rvbDtdQ/pngaaa-com-203007.png" alt="You are here!"></img></div>
                  <div class="weather-icon-current">
                  </div>
                  <h1 class="city-temp">65<sup>ºF</sup></h1>
                <p class="city-current">My CITY</p>
                <span class='date-current'></span>
                </div>  
                    </ul>
          </div>
            </div>
          </section>

    </div>
</body>
</html>




/// CLOCK 

<section class='time'>
  <div class="clock">
      <div class="wrap">
        <span class="hour"></span>
        <span class="minute"></span>
        <span class="second"></span>
        <span class="dot"></span>
      </div>
    </div>
</section>